

.center{
    text-align: center;
}

.width{
    display: block;
    width: 90%;
    border: none;
    background-color: orange;
    padding: 14px 28px;
    font-size: 28px;
    cursor: pointer;
    text-align: center;
}    
