button{
    width:145px;
}

.text-c{
    display: flex;
    justify-content: center;
    text-align: center;
}

.f-width{
    width: 50%;
}

.blue{
    color: blue;
    text-decoration: underline blue;
}

.go{
    width:48px;
}
